@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    color: white;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.restaurant-app {
    width: 100%;
}

.container {
    width: 100%;
}

.banner-part {
    background: url(../img/bg-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: brightness(30%);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    
    height: 100vh;
    z-index: -100;
}

/* ------ navbar ------ */

.page-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-bar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 70%;
}

#logo-content {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 20px;
}
#logo-dot {
    font-size: 1.5em;
    color: orange;
}

/* nav-links */
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.15em;
}
#arrow-menu {
    font-size: .6em;
}
.nav-links a {
    margin: 0 20px;
    font-size: 1em;
    letter-spacing: 1.5px;
}

/* nav social */
.nav-social {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.facebook, .instagram {
    margin: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.788);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.facebook:hover, .instagram:hover {
    border: 1px solid orange;
}



/* hidden menu */

.hidden-menu, .hidden-menu-elements { display: none; }

.blog, .pages {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    text-transform: uppercase;
    transition: ease-in-out .3s;
}
.blog {
    top: 7%;
    left: 51.5%;
    height: 75px;
    line-height: 35px;
}

.pages {
    top: 7%;
    left: 56.5%;
    height: 35px;
    line-height: 35px;
}

.blog a, .pages a {
    color: black;
}

/* index content */
.index-content {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10em;
    height: 350px;
}
.content {
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.small-title {
    font-size: 2em;
}
.small-title h5 {
    letter-spacing: 1.5px;
    color: orange;
    border-top: 2px solid white;
    max-width: 300px;
    text-align: center;
}

#best {
    border-bottom: 2px double white;
}

.big-title {
    font-size: 3em;
}
.big-title h1 {
    letter-spacing: 1.5px;
    border-top: 2px solid orange;
    max-width: 680px;
    text-align: left;
    font-weight: 500;
}

.book-table {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    padding: 20px;
    border: 0;
    background-color: rgba(255, 166, 0, 0.425);
    transition: ease-in-out .3s;
    cursor: pointer;
}
.book-table:hover {
    background-color: orange;
}

.book-table button {
    background-color: transparent;
    border: 0;
    font-size: 1em;
    cursor: pointer;
}

/* about us info */
.about-us-info {
    position: absolute;
    top: 250%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 501px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.about-us-content * {
    color: rgba(0, 0, 0, 0.747);
}

.about-us-content {

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#about-us-photo {
    width: 419px;
    height: 340px;
}
#history {
    max-width: 400px;
}
.text-info {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about-us-title {
    color: rgb(255, 166, 0);
    font-size: 1.1em;
    letter-spacing: 1.5px;
    font-weight: 100;
}
.text-info h2 {
    letter-spacing: 1.5px;
    font-size: 2em;
}
#exist-since {
    border-left: 2px solid orange;
    padding: 0 10px;
}
#history {
    color: black;
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.text-info button {
    background-color: black;
    color: white;
    max-width: 200px;
    padding: 15px 30px;
    border: 0;
    font-size: 1em;
    letter-spacing: 1.5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: ease-in-out .3s;
}

.text-info button:hover {
    background-color: orange;
    font-weight: 600;
}